[**pumpit**](../README.md)

***

[pumpit](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `object`

Defined in: [src/types.ts:65](https://github.com/ivandotv/pumpit/blob/9d792d0d8e480597323fed14e7e353c726844d12/src/types.ts#L65)

Result of [PumpIt.validateSafe()](../classes/PumpIt.md#validatesafe)

## Properties

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [src/types.ts:67](https://github.com/ivandotv/pumpit/blob/9d792d0d8e480597323fed14e7e353c726844d12/src/types.ts#L67)

***

### valid

> **valid**: `boolean`

Defined in: [src/types.ts:66](https://github.com/ivandotv/pumpit/blob/9d792d0d8e480597323fed14e7e353c726844d12/src/types.ts#L66)
